<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">

</head>
</html>

<body>
    <div id="navbar">      

    </div>
    <script>
        $.get("./navbar", function(data){
            $("#navbar").replaceWith(data);
        });
    </script>


</body>