@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

body{
  margin: 0px;
}

nav{
  background-color: rgb(41, 41, 41);
}

.navbar-wrapper{
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  

  /* change to proper width to prevent navbar from strecthing*/
  max-width: 700px;

}

.directory-container{
}

ul {
  margin: 0;
  padding: 0;
}

li{ 
  list-style-type: none;
}

.nav-link-container{
  padding-left: 15px;
  padding-right: 15px;  
  padding-bottom: 30px;
  padding-top: 30px;
}

.nav-links {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #7e7e7e; /* Default color */
  background-image: linear-gradient(to right, red 0%, red 0%);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: 0% 100%;
  transition: background-size 0.3s, color 0.3s;
  
}

.nav-link-container:hover .nav-links{
  background-size: 100% 2px;
  color: red;
}

.nav-links:visited {
  text-decoration: none;
  color: #7e7e7e; /* Default color for visited links */
}

.nav-links:hover,
.nav-links:visited:hover {
  color: red; /* Apply red color when hovered, even for visited links */
}

.directory-container ul{
  display: flex;
  flex-direction: row;
}



.logo{
  max-width: 150px;
}
.acc-btn{
  border: none;
  background: none;
  padding-right: 3rem;
}

.btn-img{
  width: 25px;
  border-radius: 50px;
}

.acc-img{
  width: 28px;
  filter: invert(40%);

}

.img-btn{
  border: none;
  background: none;
}

.directory-container{
  padding: 0px 20rem 0px 20rem;
}

.logo-container{

}

.right-container{
  display: flex;
}

.dropdown {
  position: absolute;
  background-color: rgb(41, 41, 41);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;

}

.nav-link-container:hover .dropdown{

  max-height: 100%;
}


.nav-link-container:hover #proddrop{

}

.nav-link-container:hover .prod-img{
  max-height: 100%;
  max-width: 300px;
}

.prod-img{
  max-width: 0px;
  max-height: 0;
  transition: all 0.3s ease;
}

.product-cell{
  padding: 0px;
  margin: 0;
}

#proddrop{
  display: grid;  
  grid-template-columns: repeat(4, 1fr); /* Adjust '3' to the desired number of columns */
  left: 50%;
  transform: translate(-50%,4%);
  overflow: hidden;
  gap: 10px; /* Adjust the gap value as needed */
  list-style: none;
  padding: 10px;
}

#proddrop li{
  padding: 0;
  margin: 0;
}