
<body>
    <link rel="stylesheet" href="/css/navbar.css">
    <header>
        <nav>
            <div class=navbar-wrapper>
                <div class="logo-container">
                    <img class="logo" src="/images/logo.png"></img>
                </div>
                <div class="directory-container">
                    <ul>
                        <li class="nav-link-container"><a href=/# class = nav-links>Home</a></li>
                        <li class="nav-link-container"><a href=/# class = nav-links>Products</a></li>
                        <li class="nav-link-container"><a href=/# class = nav-links>About</a></li>
                    </ul>
                </div>
                <div class ="right-container">
                    <button class="acc-btn"><img class="acc-img" src = "/images/user.svg"></img></button>
                    <button class="img-btn"><img class="btn-img" src = "/images/Countries/ca.svg"></img></button>
                </div>
            </div>
        </nav>
    </header>
</body>