
<body>
    <link rel="stylesheet" href="/css/navbar.css">
    <script>"/js/navbar.js"</script>       
    <div class="nav-bar" id="navbar">

        <image src="/images/logo.png" alt="logo" class="logo">
        <ul class = "nav-links">

            <button class="nav-button" id="homebtn"><b>Home</b></button>
            <button class="nav-button" id="prodbtn"><b>Products</b></button>
            <table class = "prod-dropdown" id="proddrop">
                <!-- Products will be loaded here from database ( 5 products per row )--> 
                <script>populateDropdown(products)</script>
            </table>
            <button class="nav-button" id="abtbtn"><b>About</b></button>
        </ul>
        <a href = "/cart">
            <image src="/images/cart.png" alt="cart" class="cart">
        </a>
        <button class="acc-btn" id="accbtn">
            <img src = "/images/account.png" alt = "account" class = "account-img" height = 25px></img>
            <ul class = "acc-dropdown" id="accdrop" hidden>
                <li><a class = "acc-drop-link" href = "/login">Login</a></li>
                <li><a class = "acc-drop-link" href = "/signup">Signup</a></li>
                <li><a class = "acc-drop-link" href = "/logout">Logout</a></li>
            </ul>
        </button>

    </div>
</body>