
<body>
    <link rel="stylesheet" href="/css/navbar.css">
    <header>
        <nav>
            <div class=navbar-wrapper>
                <div class="logo-container">
                    <img class="logo" src="/images/logo.png"></img>
                </div>
                <div class="directory-container">
                    <ul>
                        <li class="nav-link-container"><a href=/# class = nav-links>Home</a></li>
                        <li class="nav-link-container" id ="prodlinkcontainer">
                            <a href=/# class = nav-links>Products</a>
                            <ul class = "prod-drop" id = "proddrop">
                                <li>
                                    <a class = "product-cell", id = "p0" href="#">
                                        <img class="prod-img" src="/images/productdat/thumbnails/p0.png"></img>
                                        <div class="prod-text">Sample Product</div>
                                    </a>
                                </li>
                                <li>
                                    <a class = "product-cell", id = "p0" href="#">
                                        <img class="prod-img" src="/images/productdat/thumbnails/p0.png"></img>
                                        <div class="prod-text">Sample Product</div>
                                    </a>
                                </li>
                                <li>
                                    <a class = "product-cell", id = "p0" href="#">
                                        <img class="prod-img" src="/images/productdat/thumbnails/p0.png"></img>
                                        <div class="prod-text">Sample Product</div>
                                    </a>
                                </li>
                                <li>
                                    <a class = "product-cell", id = "p0" href="#">
                                        <img class="prod-img" src="/images/productdat/thumbnails/p0.png"></img>
                                        <div class="prod-text">Sample Product</div>
                                    </a>
                                </li>
                                <li>
                                    <a class = "product-cell", id = "p0" href="#">
                                        <img class="prod-img" src="/images/productdat/thumbnails/p0.png"></img>
                                        <div class="prod-text">Sample Product</div>
                                    </a>
                                </li>
                                <li>
                                    <a class = "product-cell", id = "p0" href="#">
                                        <img class="prod-img" src="/images/productdat/thumbnails/p0.png"></img>
                                        <div class="prod-text">Sample Product</div>
                                    </a>
                                </li>

                            </ul>
                        
                        </li>
                        <li class="nav-link-container"><a href=/# class = nav-links>About</a></li>
                    </ul>
                </div>
                <div class ="right-container">
                    <ul>
                        <li class="img-btn" id="accbtn">
                            <img class="acc-img" src = "/images/user.svg"></img>
                            <ul class = "drop-down" id = "accdrop">
                                <li>
                                    <a class = "dropdown-txt", href="/login">Login</a>
                                </li>
                                <li>
                                    <a class = "dropdown-txt", href="/signup">Sign up</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li class="img-btn" id="countrybtn">
                            <img class="btn-img" src = "/images/Countries/ca.svg"></img>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>