
<body>
    <link rel="stylesheet" href="/css/navbar.css">
    <header>
        <nav>
            <div class=navbar-wrapper>
                <div class="logo-container">
                    <img class="logo" src="/images/logo.png"></img>
                </div>
                <div class="directory-container">
                    <ul>
                        <li><button class="link"><div class="nav-txt">Home</div></button></li>
                        <li><button class="link"><div class="nav-txt">Products</div></button></li>
                        <li><button class="link"><div class="nav-txt">About</div></button></li>
                    </ul>
                </div>
                <div class ="right-container">
                    <button class="acc-btn"><div class="nav-txt">Account</div></button>
                    <button class="img-btn"><img class="btn-img" src = "/images/Countries/ca.svg"></img></button>
                </div>
            </div>
        </nav>
    </header>
</body>