
<body>
    <link rel="stylesheet" href="/css/navbar.css">
    <header>
        <nav>
            <div class=navbar-wrapper>
                <div class="logo-container">
                    <img src="/images/logo.png"></img>
                </div>
                <div class="directory-container">
                    <ul>
                        <li><button class="link"><div class="nav-txt">Home</div></button></li>
                        <li><button class="link"><div class="nav-txt">Products</div></button></li>
                        <li><button class="link"><div class="nav-txt">About</div></button></li>
                    </ul>
                </div>
                <div class ="signup-container">
                    <button class="signup-btn"><div class="nav-txt">Signup</div></button>
                </div>
            </div>
        </nav>
    </header>
</body>